body {
    background: #aaccff;
}

#canvas {
    width: 680px;
    margin: 0 auto;
}

.card {
    background: #000;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    padding-top: 25px;
    float: left;
    margin: 10px;
}

.card:hover {
    border: solid 2px #fff;
}

.card.correct:hover {
    border: 0;
}

.card.selected {
    border: solid 2px #fff;
}

.card.selected:before,
.card.correct:before {
    font-family: 'FontAwesome';
    font-size: 90px;
}

.color-1.selected,
.color-1.correct {
    background-color: aqua;
}

.color-2.selected,
.color-2.correct {
    background-color: fuchsia;
}

.color-3.selected,
.color-3.correct {
    background-color: deeppink;
}

.color-4.selected,
.color-4.correct {
    background-color: dodgerblue;
}

.color-5.selected,
.color-5.correct {
    background-color: lime;
}

.color-6.selected,
.color-6.correct {
    background-color: orangered;
}

.color-1.selected:before,
.color-1.correct:before {
    content: "\f13d";
}

.color-2.selected:before,
.color-2.correct:before {
    content: "\f135";
}

.color-3.selected:before,
.color-3.correct:before {
    content: "\f005";
}

.color-4.selected:before,
.color-4.correct:before {
    content: "\f118";
}

.color-5.selected:before,
.color-5.correct:before {
    content: "\f0e9";
}

.color-6.selected:before,
.color-6.correct:before {
    content: "\f1e3";
}